.fonctionnement {
    padding: $layout-padding;
    display: flex;
    flex-direction: column;
    & button {
        text-align: left;
        line-height: inherit;
        height: 11vh;
        border-radius: 20px;
        margin: 3.5vh 0 0 3vw;
        border: none;
        background-color: $colour-grey-light;
        font-weight: 900;
        font-size: 1rem;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
        & span {
            float: left;
            font-size: 0.9rem;
            color: white;
            background-color: #9356DC;
            line-height: 0px;
            border-radius: 50%;
            padding: 12px 8px;
            margin-left: -3vw;
        }
        & i {
            margin: 0 6vw;
            font-size: 1.2rem;
        }
    }
}