.fonctionnement {
    padding: $layout-padding;
    display: flex;
    flex-direction: column;
    & button {
        @include fonctionnement-btn;
        & span {
            float: left;
            font-size: 0.9rem;
            color: white;
            background-color: #9356DC;
            line-height: 0px;
            border-radius: 50%;
            padding: 12px 8px;
            margin-left: -3vw;
        }
        & i {
            margin: 0 6vw;
            font-size: 1.2rem;
        }
    }
}