.header {
    background-color: $colour-white;
    position: fixed;
    width: 100%;
    padding: 1rem 2rem 0 2rem;
    z-index: 2;
    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__link--hided {
        display: none;
    }
    &__logo {
        width: 100%;
        text-align: center;
    }
}