.header {
    background-color: $colour-white;
    position: fixed;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
    z-index: 2;
    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__link {
        display: none;
    }
    &__logo {
        width: 100%;
        text-align: center;
    }
}