.localisation {
    padding-top: $layout-padding-top;
    @include desktop {
        padding-top: 10vh;
    }
    @include tablet {
        padding-top: 8vh;
    }
    & h2 {
        display: none;        
    }
    &__input {
        width: 100%;
        height: 8vh;
        text-align: center;
        background-color: $colour-grey;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.2) 0 5px 3px 0px inset;
        font-weight: 500;
        @include tablet {
            height: 6vh;
        }
        & i {
            padding-right: 15px;
            @include desktop {
                font-size: inherit;
            }
            @include tablet {
                font-size: inherit;
            }
        }
    }
}