.presentation {
    padding: $layout-padding;
    background-color: $colour-grey-light;
    text-align: center;
    &__heading {
        width: 80%;
        margin: 2vh auto;
    }
    &__btn {
        @include explorer-commander-btn;
        padding: 2.5vh 6vw;
    }
}