.presentation {
    padding: $layout-padding;
    background-color: $colour-grey-light;
    text-align: center;
    @include desktop {
        padding: 2vh 5vw 5vh 5vw;
    }
    @include tablet {
        padding: 1vh 5vw 2vh 5vw;
    }
    &__heading {
        width: 80%;
        margin: 2vh auto;
    }
    &__btn {
        @include explorer-commander-btn;
        padding: 2.5vh 6vw;
        @include tablet {
            padding: 1.5vh 5vw;
        }
    }
}