#restaurants {
    padding-top: 10vh;
    margin-top: -10vh;
}

.restaurants {
    padding: $layout-padding;
    background-color: $colour-grey-light;
    &-card {
        @include card;
        &__image {
            position: relative;
        }
        &__image span {
            position: absolute;
            top: 2vh;
            right: 3.5vw;
            font-size: 0.9rem;
            font-weight: bold;
            padding: 2px 12px;
            color: green;
            background-color: $colour-tertiary;
        }
        &__image img {
            @include card-img;
        }
        &__heading, &__byline {
            padding-left: 3.5vw;
        }
        & i {
            @include i;
            bottom: 4vh;
            right: 6vw;
        }
    }
}