/* @import "./utils/functions"; */
/* @import "./utils/extensions"; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,900&family=Shrikhand&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.7;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  font-weight: 400;
}

.carte h1 {
  font-size: 1.7rem;
  line-height: 1;
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.6rem;
}

.fonctionnement h2,
.restaurants h2 {
  margin: 3.5vh 0 1vh 0;
}

.carte h2 {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 5vh;
  text-transform: uppercase;
}

h3 {
  font-size: 1.1rem;
}

p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.2;
}

/* @import "./components/buttons"; */
.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  padding: 1rem 2rem 0 2rem;
  z-index: 2;
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__link--hided {
  display: none;
}
.header__logo {
  width: 100%;
  text-align: center;
}

.localisation {
  padding-top: 10vh;
}
.localisation__input {
  width: 100%;
  height: 8vh;
  text-align: center;
  background-color: #E8E8E8;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 3px 0px inset;
}
.localisation__input i {
  font-size: 1rem;
}
.localisation__input input {
  border: none;
  height: 4vh;
  font-size: 1rem;
  background-color: transparent;
  font-weight: bolder;
  margin-left: 10px;
  width: 33vw;
}
.localisation__input button {
  display: none;
}

.presentation {
  padding: 5vh 5vw 10vh 5vw;
  background-color: #F2F2F2;
  text-align: center;
}
.presentation__heading {
  width: 80%;
  margin: 2vh auto;
}
.presentation__btn {
  border: none;
  font-weight: 900;
  font-size: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 30px;
  width: max-content;
  align-self: center;
  margin-top: 8vh;
  padding: 2.5vh 6vw;
}
.presentation__btn:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  filter: brightness(1.2);
}
.presentation__btn:active {
  transform: translateY(4px);
  box-shadow: none;
}

.fonctionnement {
  padding: 5vh 5vw 10vh 5vw;
  display: flex;
  flex-direction: column;
}
.fonctionnement button {
  border: none;
  font-weight: 900;
  font-size: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
  text-align: left;
  line-height: inherit;
  height: 11vh;
  border-radius: 20px;
  margin: 3.5vh 0 0 3vw;
  background-color: #F2F2F2;
}
.fonctionnement button:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  filter: brightness(1.2);
}
.fonctionnement button:hover {
  background-color: #ff79DA21;
}
.fonctionnement button span {
  float: left;
  font-size: 0.9rem;
  color: white;
  background-color: #9356DC;
  line-height: 0px;
  border-radius: 50%;
  padding: 12px 8px;
  margin-left: -3vw;
}
.fonctionnement button i {
  margin: 0 6vw;
  font-size: 1.2rem;
}

#restaurants {
  padding-top: 10vh;
  margin-top: -10vh;
}

.restaurants {
  padding: 5vh 5vw 10vh 5vw;
  background-color: #F2F2F2;
}
.restaurants-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 37vh;
  box-shadow: 0 4px 8px 0 #ABABAB;
  border-radius: 20px;
  width: 100%;
  margin-top: 3.5vh;
}
.restaurants-card:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  filter: brightness(0.9);
}
.restaurants-card__image {
  position: relative;
}
.restaurants-card__image span {
  position: absolute;
  top: 2vh;
  right: 3.5vw;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 2px 12px;
  color: green;
  background-color: #99E2D0;
}
.restaurants-card__image img {
  width: 100%;
  object-fit: cover;
  height: 26vh;
  border-radius: 18px 18px 0 0;
}
.restaurants-card__heading, .restaurants-card__byline {
  padding-left: 3.5vw;
}
.restaurants-card i {
  position: absolute;
  font-size: 1.5rem;
  bottom: 4vh;
  right: 6vw;
}

.footer {
  background-color: #353535;
  padding: 1vh 6vw 5vh 6vw;
  color: #fff;
}
.footer__logo {
  font-size: 1.1rem;
  line-height: 3;
}
.footer__link {
  list-style: none;
  line-height: initial;
}
.footer__link a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
}
.footer__link i {
  font-size: 0.8rem;
}

.carte img {
  width: 100%;
  object-fit: cover;
  height: 50vh;
}
.carte--flex {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: -8vh;
  background-color: #F2F2F2;
  border-radius: 40px;
  padding: 5vh 5vw 10vh 5vw;
}
.carte--flex i {
  position: absolute;
  font-size: 1.5rem;
  right: 10vw;
}
.carte__subheading {
  position: relative;
  padding-bottom: 0.25rem;
}
.carte__subheading::after {
  position: absolute;
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  left: 0;
  bottom: 0;
}
.carte .menu {
  position: relative;
  background-color: #fff;
  padding: 1.5vh;
  border-radius: 15px;
  margin-top: 2vh;
}
.carte .menu__byline, .carte .menu__prix {
  font-size: 1rem;
}
.carte .menu__prix {
  position: absolute;
  font-weight: 900;
  right: 20px;
  bottom: 5px;
}
.carte .menu__btn {
  border: none;
  font-weight: 900;
  font-size: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 30px;
  width: max-content;
  align-self: center;
  margin-top: 8vh;
  padding: 2.5vh 10vw;
}
.carte .menu__btn:hover {
  cursor: pointer;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  filter: brightness(1.2);
}
.carte .menu__btn:active {
  transform: translateY(4px);
  box-shadow: none;
}

/* @import "./layout/form"; */
/* @import "./pages/work"; */
/* @import "./pages/about"; */
/* @import "./pages/project"; */

/*# sourceMappingURL=style.css.map */
