body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.7;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
    font-weight: 400;
}