body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1.7;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
    font-weight: 400;
}

h2 {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.6rem;
}

.fonctionnement h2,
.restaurants h2 {
    margin: 3.5vh 0 1vh 0;
}

h3 {
    font-size: 1.1rem;
    padding-left: 3.5vw;
}

p {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.2;
}