@mixin card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 37vh;
    box-shadow: 0 4px 8px 0 #ABABAB;
    border-radius: 20px;
    width: 100%;
    margin-top: 3.5vh;
}

@mixin img {
    width: 100%;
    object-fit: cover;
}

@mixin card-img {
    @include img;
    height: 26vh;
    border-radius: 18px 18px 0 0;
}

@mixin carte-img {
    @include img;
    height: 50vh;
}

@mixin i {
    position: absolute;
    font-size: 1.5rem;
}

@mixin button {
    border-radius: 30px;
    border: none;
    background-image: linear-gradient($colour-secondary, $colour-primary);
    color: white;
    font-weight: 900;
    font-size: 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    width: max-content;
    align-self: center;
    margin-top: 8vh;
    &:hover {
        background-image: linear-gradient($colour-primary, $colour-secondary);
    }
    &:active {
        background-image: linear-gradient($colour-primary, $colour-secondary);
        transform: translateY(4px);
        box-shadow: none;
    }
}