@mixin card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 37vh;
    box-shadow: 0 4px 8px 0 #ABABAB;
    border-radius: 20px;
    width: 100%;
    margin-top: 3.5vh;
    &:hover {
        cursor: pointer;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        filter: brightness(0.9);
    }
}

@mixin img {
    width: 100%;
    object-fit: cover;
}

@mixin card-img {
    @include img;
    height: 26vh;
    border-radius: 18px 18px 0 0;
}

@mixin carte-img {
    @include img;
    height: 50vh;
}

@mixin i {
    position: absolute;
    font-size: 1.5rem;
}

@mixin button {
    border: none;
    font-weight: 900;
    font-size: 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition-duration: .25s;
    &:hover {
        cursor: pointer;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        filter: brightness(1.2);
    }
}

@mixin explorer-commander-btn {
    @include button;
    background-image: linear-gradient($colour-secondary, $colour-primary);
    color: white;
    border-radius: 30px;
    width: max-content;
    align-self: center;
    margin-top: 8vh;
    &:active {
        transform: translateY(4px);
        box-shadow: none;
    }
}

@mixin fonctionnement-btn {
    @include button;
    text-align: left;
    line-height: inherit;
    height: 11vh;
    border-radius: 20px;
    margin: 3.5vh 0 0 3vw;
    background-color: $colour-grey-light;
    &:hover {
        background-color: $colour-secondary-light;
    }
}