$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-white: #fff;
$colour-grey: #E8E8E8;
$colour-grey-light: #F2F2F2;
$colour-grey-bold: #353535;

$layout-padding-top: 10vh;

$layout-padding: 5vh 5vw 10vh 5vw;